        body {
            font-family: Arial, sans-serif;
            margin: 2rem;
            background-color: rgb(172, 180, 248);
        }

        input,
        button {
            padding: 0.5rem;
            font-size: 1rem;
        }

        button {
            cursor: pointer;
        }

        pre {
            background-color: #f4f4f4;
            padding: 1rem;
            white-space: pre-wrap;
            border-radius: 5px;
            margin-top: 1rem;
        }